
main{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:20px;
    justify-content: center;
    align-content: center;
}
.article1{
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/3 ;
    padding:10px;
    font-family: "Barlow Semi Condensed";
 
}

.article2{
    background-color:  hsl(217, 19%, 35%);
    padding:10px;
      font-family: "Barlow Semi Condensed";
      
    color: white;
}
.article3{
    background-color:  hsl(0, 0%, 100%);
    border: 2px solid black;
    grid-row: 2;
    padding:10px;
      font-family: "Barlow Semi Condensed";
      
}
.article4{
    background-color:  hsl(0, 0%, 7%);
    border: 2px solid black;
    color:white;
    grid-row-start: 2;
    grid-column-start:2 ;   
    grid-column-end: 4;
    padding:10px;
     font-family: "Barlow Semi Condensed";
      
}
.article5{
    border: 2px solid black;
    background-color: white;
    grid-row-start:1;
    grid-row-end:3;
    padding: 20px;
    
      font-family: "Barlow Semi Condensed";
       
}
img{
    border-radius: 100px;
   
    justify-self: start;
}
.article1 p{
    color:white;
   
   

}
.p1,.p2,.p3,.p4,.p5{
font-weight: 600;
font-size: larger;
}
figure{
    display: grid;
    justify-items: start;
}

.article1 figure,
.article2 figure,
.article3 figure,
.article4 figure,
.article5 figure {
  display: grid;          
  justify-items: start;   

  margin: 0;              
}
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
}

.role {
  margin: 0;
  opacity: 0.8;
  font-size: 0.85rem;
}

@media (max-width: 720px) {
  main {
    grid-template-columns: 1fr;          
   
    grid-template-rows: none;           
    grid-auto-rows: minmax(160px, auto); 
    gap: 16px;
    padding: 16px;
  }

  .article1,
  .article2,
  .article3,
  .article4,
  .article5 {
    grid-column: auto !important;
    grid-row: auto !important;
    box-sizing: border-box;
  }
}

